<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Gateway Demo</title>
    <link rel="stylesheet" href="style.css">

    <!-- Razorpay Payment Gateway Modal Dialog Box for Accepting Payment Window -->
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script> 
</head>
<body>

    <main class="product-grid">
        <div class="product-card" data-price="300.00" data-name="Product A" data-id="P001">
            <div class="product-image-placeholder">Product Image </div>
            <div class="product-details">
                <p class="product-description-placeholder">Product Description Lorem, ipsum dolor.</p>
                <p class="product-description-placeholder">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, repellendus aliquam.</p>
                <p class="product-price">Pay Rs. 300.00</p>
                <button class="pay-button">Pay Now</button>
            </div>
        </div>

        <div class="product-card" data-price="500.00" data-name="Product B" data-id="P002">
            <div class="product-image-placeholder">Product Image</div>
            <div class="product-details">
                <p class="product-description-placeholder">Product Description Lorem, ipsum dolor.</p>
                <p class="product-description-placeholder">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, repellendus aliquam.</p>
                <p class="product-price">Pay Rs. 500.00</p>
                <button class="pay-button">Pay Now</button>
            </div>
        </div>

        <div class="product-card" data-price="3000.00" data-name="Product C" data-id="P003">
            <div class="product-image-placeholder">Product Image</div>
            <div class="product-details">
                <p class="product-description-placeholder">Product Description Lorem, ipsum dolor.</p>
                <p class="product-description-placeholder">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, repellendus aliquam.</p>
                <p class="product-price">Pay Rs. 3000.00</p>
                <button class="pay-button">Pay Now</button>
            </div>
        </div>

        <div class="product-card" data-price="900.00" data-name="Product D" data-id="P004">
            <div class="product-image-placeholder">Product Image</div>
            <div class="product-details">
                <p class="product-description-placeholder">Product Description Lorem, ipsum dolor.</p>
                <p class="product-description-placeholder">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, repellendus aliquam.</p>
                <p class="product-price">Pay Rs. 900.00</p>
                <button class="pay-button">Pay Now</button>
            </div>
        </div>

        <div class="product-card" data-price="1300.00" data-name="Product E" data-id="P005">
            <div class="product-image-placeholder">Product Image</div>
            <div class="product-details">
                <p class="product-description-placeholder">Product Description Lorem, ipsum dolor.</p>
                <p class="product-description-placeholder">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, repellendus aliquam.</p>
                <p class="product-price">Pay Rs. 1300.00</p>
                <button class="pay-button">Pay Now</button>
            </div>
        </div>

        <div class="product-card" data-price="5500.00" data-name="Product F" data-id="P006">
            <div class="product-image-placeholder">Product Image</div>
            <div class="product-details">
                <p class="product-description-placeholder">Product Description Lorem, ipsum dolor.</p>
                <p class="product-description-placeholder">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, repellendus aliquam.</p>
                <p class="product-price">Pay Rs. 5500.00</p>
                <button class="pay-button">Pay Now</button>
            </div>
        </div>
    </main>

    <script src="script.js"></script>
</body>
</html>